@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.home {
    margin-top:5%
}

.homeImage {
    border-radius: 25px;
    object-fit: fill;
}

.title-font {
    font-family: 'Lato', sans-serif;
}

.removePaddint {
    padding: 0;
}
