@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.home {
    margin-top:5%
}

.homeImage {
    border-radius: 25px;
}

.title-font {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}